In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import time
import pyodbc
import re, datetime
import json
import warnings
import inspect
warnings.simplefilter("ignore") 
from nba_api.stats.endpoints.leaguegamelog import LeagueGameLog
from nba_api.stats.endpoints.playergamelogs import PlayerGameLogs
from nba_api.stats.endpoints.shotchartdetail import ShotChartDetail
from nba_api.stats.endpoints.boxscoreadvancedv3 import BoxScoreAdvancedV3
from nba_api.stats.endpoints.boxscoredefensivev2 import BoxScoreDefensiveV2
from nba_api.stats.endpoints.defensehub import DefenseHub

from nba_api.stats.endpoints.infographicfanduelplayer import InfographicFanDuelPlayer

from nba_api.stats.endpoints.boxscoreplayertrackv3 import BoxScorePlayerTrackV3
from nba_api.stats.endpoints.boxscorefourfactorsv3 import BoxScoreFourFactorsV3
from nba_api.stats.endpoints.boxscorehustlev2 import BoxScoreHustleV2
from nba_api.stats.endpoints.boxscorematchupsv3 import BoxScoreMatchupsV3
from nba_api.stats.endpoints.boxscoremiscv3 import BoxScoreMiscV3
from nba_api.stats.endpoints.boxscoreplayertrackv3 import BoxScorePlayerTrackV3
from nba_api.stats.endpoints.boxscorescoringv3 import BoxScoreScoringV3
from nba_api.stats.endpoints.boxscoreusagev3 import BoxScoreUsageV3
from nba_api.stats.endpoints.commonteamroster import CommonTeamRoster # params = season, team_id

# CommonTeamRoster

from nba_api.stats import endpoints

In [3]:
import pandas as pd
import numpy as np

# Assuming 'df' is your DataFrame
# Replace with your actual DataFrame
# df = ...

def pandas_to_sql_type(pandas_type):
    if pandas_type == np.object:
        return 'NVARCHAR(MAX)'
    elif pandas_type == np.int64:
        return 'BIGINT'
    elif pandas_type == np.float64:
        return 'FLOAT'
    elif pandas_type == np.bool:
        return 'BIT'
    elif pandas_type == 'datetime64[ns]':
        return 'DATETIME'
    else:
        return 'NVARCHAR(MAX)'

def create_table_statement(df, table_name):
    columns = df.columns
    sql_columns = []
    for column in columns:
        sql_type = pandas_to_sql_type(df[column].dtype)
        sql_columns.append(f"[{column}] {sql_type}")

    columns_str = ",\n  ".join(sql_columns)
    sql_statement = f"CREATE TABLE {table_name} (\n  {columns_str}\n);"
    return sql_statement

# Replace 'YourTableName' with your desired table name
# table_name = 'gameStatsTrackingkV3'
# sql_statement = create_table_statement(df, table_name)
# print(sql_statement)

In [2]:
today = datetime.date.today()
yearSeason = 2024
year='2023-24'

In [5]:
comparison_date = datetime.datetime.strptime(f"1/1/{yearSeason}", "%m/%d/%Y")

# Get the current date
today = datetime.datetime.now()

# Check if today's date is greater than the comparison date
is_greater = today > comparison_date
if is_greater:
    current_year = yearSeason - 1

## League Game Log

In [6]:
years = [
    #'2010-11', '2011-12','2012-13', '2013-14' ,'2014-15',
    '2015-16','2016-17', '2017-18', '2018-19', '2019-20',
    '2020-21','2021-22', '2022-23','2023-24']

final_game_log = pd.DataFrame()


df = LeagueGameLog(season = year)
shot_data = json.loads(df.get_json())
relevant_data = shot_data['resultSets'][0]
headers = relevant_data['headers']
rows = relevant_data['rowSet']
final_rows = pd.DataFrame(rows)
final_rows.columns = headers
final_rows = final_rows.fillna(0)
final_rows['yearSeason'] = '20'+year.split('-')[1]
final_game_log = final_game_log.append(final_rows).reset_index(drop=True)

final_game_log['GAME_DATE'] = pd.to_datetime(final_game_log['GAME_DATE'])
final_game_log['oppAbrv'] = final_game_log["MATCHUP"].apply(lambda x: x.split("@")[1].strip() if("@" in x) else x.split("vs.")[1].strip())

In [7]:
# Connect to SQL Server
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()

cursor.execute("DELETE FROM leagueGameLog WHERE yearSeason = {} ".format(yearSeason))

# Prepare the INSERT SQL statement
insert_stmt = '''
INSERT INTO LeagueGameLog (SEASON_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME, GAME_ID, GAME_DATE, MATCHUP, WL, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, PLUS_MINUS, VIDEO_AVAILABLE, yearSeason, oppAbrv)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
'''

# Iterate over DataFrame rows
for index, row in final_game_log.iterrows():
    try:
        # Execute the INSERT statement for each row
        cursor.execute(insert_stmt, tuple(row))
        cnxn.commit()
    except Exception as e:
        print(f"An error occurred at row {index}: {e}")
        # Optionally, break or continue based on the nature of the error

# Close the connection
cursor.close()
cnxn.close()

In [8]:
del df, final_game_log, final_rows, relevant_data, rows, shot_data

## PlayerGameLogs

In [9]:
final_player_game_log = pd.DataFrame()
df = PlayerGameLogs(season_nullable=year,timeout = 100)
shot_data = json.loads(df.get_json())
relevant_data = shot_data['resultSets'][0]
headers = relevant_data['headers']
rows = relevant_data['rowSet']
final_rows = pd.DataFrame(rows)
final_rows.columns = headers
final_rows = final_rows.fillna(0)
final_rows['yearSeason'] = '20'+year.split('-')[1]
final_player_game_log = final_player_game_log.append(final_rows).reset_index(drop=True)

final_player_game_log['oppAbrv'] = final_player_game_log["MATCHUP"].apply(lambda x: x.split("@")[1].strip() if("@" in x) else x.split("vs.")[1].strip())

In [10]:
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()

cursor.execute("DELETE FROM PlayerGameLogs WHERE yearSeason = {} ".format(yearSeason))

# Prepare the INSERT SQL statement
insert_stmt = '''
INSERT INTO PlayerGameLogs (SEASON_YEAR, PLAYER_ID, PLAYER_NAME, NICKNAME, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME, GAME_ID, GAME_DATE, MATCHUP, WL, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, WNBA_FANTASY_PTS, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, WNBA_FANTASY_PTS_RANK, AVAILABLE_FLAG, yearSeason, oppAbrv)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
'''

# Iterate over DataFrame rows
for index, row in final_player_game_log.iterrows():
    try:
        # Execute the INSERT statement for each row
        cursor.execute(insert_stmt, tuple(row))
        cnxn.commit()
    except Exception as e:
        print(f"An error occurred at row {index}: {e}")
        # Optionally, break or continue based on the nature of the error

# Close the connection
cursor.close()
cnxn.close()

In [11]:
del df, final_player_game_log, final_rows, relevant_data, rows, shot_data

## ShotChartDetail

In [12]:
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()
sql = 'SELECT distinct player_id, team_id, season_year FROM [nba_game_data].[dbo].[PlayerGameLogs] where yearSeason = {}'.format(yearSeason)
all_players = pd.read_sql(sql,cnxn)  
cnxn.close()

In [13]:
final_shooting = pd.DataFrame()

for index, row in all_players.iterrows():
    try:
        df = ShotChartDetail(
                team_id = row['team_id'],
                player_id = row['player_id'],
                context_measure_simple = 'FGM',
                    season_nullable = row['season_year'],
                season_type_all_star = 'Regular Season')
        shot_data = json.loads(df.get_json())
        relevant_data = shot_data['resultSets'][0]
        headers = relevant_data['headers']
        rows = relevant_data['rowSet']
        final_rows = pd.DataFrame(rows)
        final_rows.columns = headers
        final_shooting = final_shooting.append(final_rows).reset_index(drop=True)
    except:
        pass

In [14]:
# Connect to SQL Server
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()

cursor.execute("DELETE FROM ShotChartDetail where [GAME_DATE] > {}0701".format(yearSeason-1))

# Prepare the INSERT SQL statement
insert_stmt = '''
INSERT INTO ShotChartDetail (GRID_TYPE, GAME_ID, GAME_EVENT_ID, PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_NAME, PERIOD, MINUTES_REMAINING, SECONDS_REMAINING, EVENT_TYPE, ACTION_TYPE, SHOT_TYPE, SHOT_ZONE_BASIC, SHOT_ZONE_AREA, SHOT_ZONE_RANGE, SHOT_DISTANCE, LOC_X, LOC_Y, SHOT_ATTEMPTED_FLAG, SHOT_MADE_FLAG, GAME_DATE, HTM, VTM)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
'''

# Iterate over DataFrame rows
for index, row in final_shooting.iterrows():
    try:
        # Execute the INSERT statement for each row
        cursor.execute(insert_stmt, tuple(row))
        cnxn.commit()
    except Exception as e:
        print(f"An error occurred at row {index}: {e}")
        # Optionally, break or continue based on the nature of the error

# Close the connection
cursor.close()
cnxn.close()

In [ ]:
del df, all_players, final_shooting, relevant_data, rows, shot_data, headers, final_rows

## CommonTeamRoster

In [15]:
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()
sql = "SELECT distinct [TEAM_ID] ,[yearSeason] FROM [nba_game_data].[dbo].[leagueGameLog] where yearSeason = {}".format(yearSeason)
all_teams = pd.read_sql(sql,cnxn)
all_teams

       TEAM_ID yearSeason
0   1610612737       2024
1   1610612738       2024
2   1610612739       2024
3   1610612740       2024
4   1610612741       2024
5   1610612742       2024
6   1610612743       2024
7   1610612744       2024
8   1610612745       2024
9   1610612746       2024
10  1610612747       2024
11  1610612748       2024
12  1610612749       2024
13  1610612750       2024
14  1610612751       2024
15  1610612752       2024
16  1610612753       2024
17  1610612754       2024
18  1610612755       2024
19  1610612756       2024
20  1610612757       2024
21  1610612758       2024
22  1610612759       2024
23  1610612760       2024
24  1610612761       2024
25  1610612762       2024
26  1610612763       2024
27  1610612764       2024
28  1610612765       2024
29  1610612766       2024

In [16]:
# Initialize empty DataFrames for final results
final_roster = pd.DataFrame()
final_coach = pd.DataFrame()

# Loop through each row in the all_teams DataFrame
for index, row in all_teams.iterrows():
    team_id = row['TEAM_ID']
    season = int(row['yearSeason'])

    # Fetching data for each team and season
    df = CommonTeamRoster(season=season-1, team_id=team_id)
    shot_data = json.loads(df.get_json())

    # Creating dataframes for each result set and appending to the final dataframes
    for result_set in shot_data['resultSets']:
        temp_df = pd.DataFrame(result_set['rowSet'], columns=result_set['headers'])
        
        # Assuming the first result set goes to final_df1 and the second to final_df2
        # Modify as needed based on the structure of your data
        if result_set['name'] == 'CommonTeamRoster':  # Replace 'SomeName1' with the actual name
            final_roster = pd.concat([final_roster, temp_df])
        elif result_set['name'] == 'Coaches':  # Replace 'SomeName2' with the actual name
            final_coach = pd.concat([final_coach, temp_df])

# Resetting index of the final dataframes
final_roster.reset_index(drop=True, inplace=True)
final_coach.reset_index(drop=True, inplace=True)

In [17]:
final_roster

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612737,2023,00,Miles Norris,Miles,miles-norris,0,F,6-7,220,"APR 15, 2000",23.0,R,California-Santa Barbara,1641936,Signed on 07/06/23
1,1610612737,2023,00,Jalen Johnson,Jalen,jalen-johnson,1,F,6-8,219,"DEC 18, 2001",21.0,2,Duke,1630552,#20 Pick in 2021 Draft
2,1610612737,2023,00,Trent Forrest,Trent,trent-forrest,2,G,6-4,210,"JUN 12, 1998",25.0,3,Florida State,1630235,Signed on 08/08/22
3,1610612737,2023,00,Seth Lundy,Seth,seth-lundy,3,G-F,6-4,220,"APR 02, 2000",23.0,R,Penn State,1641754,#46 Pick in 2023 Draft
4,1610612737,2023,00,Kobe Bufkin,Kobe,kobe-bufkin,4,G,6-5,195,"SEP 21, 2003",20.0,R,Michigan,1641723,#15 Pick in 2023 Draft
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,1610612766,2023,00,Gordon Hayward,Gordon,gordon-hayward,20,F,6-7,225,"MAR 23, 1990",33.0,13,Butler,202330,Traded from BOS on 11/29/20
528,1610612766,2023,00,JT Thor,JT,jt-thor,21,F,6-9,203,"AUG 26, 2002",21.0,2,Auburn,1630550,Draft Rights Traded from DET on 08/06/21
529,1610612766,2023,00,Brandon Miller,Brandon,brandon-miller,24,F,6-7,200,"NOV 22, 2002",21.0,R,Alabama,1641706,#2 Pick in 2023 Draft
530,1610612766,2023,00,P.J. Washington,P.J.,pj-washington,25,F,6-7,230,"AUG 23, 1998",25.0,4,Kentucky,1629023,#12 Pick in 2019 Draft
531,1610612766,2023,00,Frank Ntilikina,Frank,frank-ntilikina,44,G,6-4,200,"JUL 28, 1998",25.0,6,Strasbourg IG,1628373,Signed on 08/05/23

In [18]:
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()

# Example DELETE statement, modify as needed
cursor.execute(F"DELETE FROM CommonTeamRoster WHERE [SEASON] = {yearSeason}")
cnxn.commit()

final_roster['SEASON'] = final_roster['SEASON'].astype(int)+1

insert_stmt = '''
INSERT INTO CommonTeamRoster (TeamID, SEASON, LeagueID, PLAYER, NICKNAME, PLAYER_SLUG, NUM, POSITION, HEIGHT, WEIGHT, BIRTH_DATE, AGE, EXP, SCHOOL, PLAYER_ID, HOW_ACQUIRED)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
'''
# Assuming you have a way to transform or map your DataFrame columns to the table columns
for index, row in final_roster.iterrows():
    try:
        # Map or transform 'row' to match the columns of CommonTeamRoster
        transformed_row = row  # Implement this function based on your needs
        cursor.execute(insert_stmt, tuple(transformed_row))
        cnxn.commit()
    except Exception as e:
        print(f"An error occurred at row {index}: {e}")
        # Decide whether to break or continue


cursor.close()
cnxn.close()

In [19]:
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()

# Example DELETE statement, adjust as needed
cursor.execute(f"DELETE FROM NBACoachs WHERE [SEASON] = {yearSeason}")
cnxn.commit()

insert_stmt = '''
INSERT INTO NBACoachs 
(TEAM_ID, SEASON, COACH_ID, FIRST_NAME, LAST_NAME, COACH_NAME, IS_ASSISTANT, COACH_TYPE, SORT_SEQUENCE, SUB_SORT_SEQUENCE)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

'''

for index, row in final_coach.iterrows():
    try:
        
        cursor.execute(insert_stmt, tuple(row))
        cnxn.commit()
    except Exception as e:
        pass

cursor.close()
cnxn.close()

# Team Allowed Shooting by Shot Zone Area

In [30]:
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()
sql = """
WITH base1 as(
  SELECT 
  [PLAYER_ID],
  [POSITION],
      
  rank() over (partition by [PLAYER_ID] order by [SEASON] desc, AGE desc, TeamID desc) as ranking 
  FROM [nba_game_data].[dbo].[CommonTeamRoster]
  ), backup_position as(
  select  
  [PLAYER_ID],
  [POSITION]
      
  from base1 
  where ranking = 1),
  base AS (
SELECT 
	   lgl.[GAME_ID]
      ,scd.[TEAM_ID]
	  ,coalesce(ctr.POSITION,bp.POSITION,'NF') as POSITION
	  ,scd.PLAYER_ID
	  ,scd.PLAYER_NAME
	  ,lgl.TEAM_ABBREVIATION
	  ,lgl.oppAbrv
	  ,cast(lgl.GAME_DATE as date) as GAME_DATE
	  ,[PERIOD]
      ,(abs(5-[PERIOD])*12)-(12-[MINUTES_REMAINING]) as MINUTES_REMAINING_IN_GAME
      ,[MINUTES_REMAINING] as MINUTES_REMAINING_IN_PERIOD
	  ,(abs(5-[PERIOD])*720)-(720-[SECONDS_REMAINING]) AS SECONDS_REMAINING_IN_GAME
      ,[SECONDS_REMAINING] AS SECONDS_REMAINING_IN_PERIOD
	  ,[ACTION_TYPE]
      ,[EVENT_TYPE]
	  ,SHOT_ZONE_AREA
	  ,SHOT_TYPE
	  ,SHOT_ZONE_BASIC
	  ,SHOT_ZONE_RANGE
      ,CASE WHEN TRIM([EVENT_TYPE]) = 'Made Shot' THEN 1 ELSE 0 END AS SHOT_MADE
	  , lgl.yearSeason

  FROM [nba_game_data].[dbo].[ShotChartDetail] scd
  LEFT OUTER JOIN nba_game_data.dbo.LeagueGameLog lgl
  on 
  scd.GAME_ID = lgl.GAME_ID
  and scd.TEAM_ID = lgl.TEAM_ID

  left outer join [nba_game_data].[dbo].[CommonTeamRoster] ctr
  on scd.PLAYER_ID = ctr.PLAYER_ID
  and lgl.yearSeason = ctr.SEASON
  and lgl.TEAM_ID = ctr.TeamID

  left outer join backup_position bp
on
scd.PLAYER_ID = bp.PLAYER_ID

  ), opponate_join as(
  SELECT 
	   [GAME_ID]
      ,[TEAM_ID]
	  ,POSITION
	  ,TEAM_ABBREVIATION
	  ,oppAbrv
	  ,GAME_DATE
	  ,[ACTION_TYPE]
      ,[EVENT_TYPE]
	  ,SHOT_ZONE_AREA
	  ,SHOT_TYPE
	  ,SHOT_ZONE_BASIC
	  ,SHOT_ZONE_RANGE
      ,cast(SHOT_MADE as float) as SHOT_MADE
	  , yearSeason
	  ,rank() over (PARTITION BY [TEAM_ID], GAME_ID, ACTION_TYPE, POSITION order by SECONDS_REMAINING_IN_GAME ) AS RANKING


  FROM base 

  ),  the_meat as (
	SELECT 
    GAME_ID,
    TEAM_ID,
	POSITION,
	TEAM_ABBREVIATION,
    oppAbrv,
    GAME_DATE,
    yearSeason,

	AVG(CASE WHEN SHOT_ZONE_AREA = 'Right Side(R)' THEN SHOT_MADE ELSE NULL END) AS Right_Side_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Left Side(L)' THEN SHOT_MADE ELSE NULL END) AS Left_Side_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Left Side Center(LC)' THEN SHOT_MADE ELSE NULL END) AS Left_Center_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Center(C)' THEN SHOT_MADE ELSE NULL END) AS Center_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Back Court(BC)' THEN SHOT_MADE ELSE null END) AS Back_Court_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Right Side Center(RC)' THEN SHOT_MADE ELSE NULL END) AS Right_Center_Shot_PCT,

	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Right Side(R)' THEN SHOT_MADE ELSE NULL END) AS Right_Side_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Left Side(L)' THEN SHOT_MADE ELSE NULL END) AS Left_Side_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Left Side Center(LC)' THEN SHOT_MADE ELSE NULL END) AS Left_Center_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Center(C)' THEN SHOT_MADE ELSE NULL END) AS Center_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Back Court(BC)' THEN SHOT_MADE ELSE null END) AS Back_Court_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Right Side Center(RC)' THEN SHOT_MADE ELSE NULL END) AS Right_Center_Shot_COUNT

  FROM opponate_join

GROUP BY GAME_ID, TEAM_ID, oppAbrv, GAME_DATE, yearSeason,TEAM_ABBREVIATION,POSITION
)
select 
the_meat.GAME_ID
,the_meat.TEAM_ID
,the_meat.POSITION
,the_meat.TEAM_ABBREVIATION
,the_meat.oppAbrv
,the_meat.GAME_DATE
,the_meat.yearSeason
,coalesce(AVG(opp_meat.Right_Side_Shot_PCT) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) AS Team_Allowed_Right_Side_Shot_PCT
,coalesce(AVG(opp_meat.Left_Side_Shot_PCT) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Left_Side_Shot_PCT
,coalesce(AVG(opp_meat.Left_Center_Shot_PCT) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Left_Center_Shot_PCT
,coalesce(AVG(opp_meat.Center_Shot_PCT) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Center_Shot_PCT
,coalesce(AVG(opp_meat.Back_Court_Shot_PCT) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Back_Court_Shot_PCT
,coalesce(AVG(opp_meat.Right_Center_Shot_PCT) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Right_Center_Shot_PCT

,coalesce(AVG(CAST(opp_meat.Right_Side_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) AS Team_Allowed_Right_Side_Shot_COUNT
,coalesce(AVG(CAST(opp_meat.Left_Side_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Left_Side_Shot_COUNT
,coalesce(AVG(CAST(opp_meat.Left_Center_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Left_Center_Shot_COUNT
,coalesce(AVG(CAST(opp_meat.Center_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Center_Shot_COUNT
,coalesce(AVG(CAST(opp_meat.Back_Court_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Back_Court_Shot_COUNT
,coalesce(AVG(CAST(opp_meat.Right_Center_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.TEAM_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Team_Allowed_Right_Center_Shot_COUNT

from the_meat 

left outer join the_meat opp_meat 
on 
the_meat.oppAbrv = opp_meat.TEAM_ABBREVIATION
and the_meat.GAME_ID = opp_meat.GAME_ID
and the_meat.POSITION = opp_meat.POSITION


order by TEAM_ABBREVIATION,POSITION,GAME_DATE
"""
shooting_chart_allowed_by_team = pd.read_sql(sql,cnxn)

,GAME_ID,TEAM_ID,POSITION,TEAM_ABBREVIATION,oppAbrv,GAME_DATE,yearSeason,Team_Allowed_Right_Side_Shot_PCT,Team_Allowed_Left_Side_Shot_PCT,Team_Allowed_Left_Center_Shot_PCT,Team_Allowed_Center_Shot_PCT,Team_Allowed_Back_Court_Shot_PCT,Team_Allowed_Right_Center_Shot_PCT,Team_Allowed_Right_Side_Shot_COUNT,Team_Allowed_Left_Side_Shot_COUNT,Team_Allowed_Left_Center_Shot_COUNT,Team_Allowed_Center_Shot_COUNT,Team_Allowed_Back_Court_Shot_COUNT,Team_Allowed_Right_Center_Shot_COUNT
0,21500347,1610612737,C,ATL,SAS,2015-12-12,2016,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1,21500470,1610612737,C,ATL,HOU,2015-12-29,2016,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
2,21500506,1610612737,C,ATL,NYK,2016-01-03,2016,0.0,0.0,0.0,0.833333,0.0,0.0,0.0,0.000000,0.0,12.000000,0.0,0.0
3,21500521,1610612737,C,ATL,NYK,2016-01-05,2016,0.0,0.0,0.0,0.766667,0.0,0.0,0.0,0.000000,0.0,11.000000,0.0,0.0
4,21500736,1610612737,C,ATL,PHI,2016-02-03,2016,0.0,0.0,0.0,0.644444,0.0,0.0,0.0,0.333333,0.0,10.666667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90752,21900504,1610612764,NF,WAS,ORL,2020-01-01,2020,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
90753,22100495,1610612764,NF,WAS,PHI,2021-12-26,2022,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
90754,22100509,1610612764,NF,WAS,MIA,2021-12-28,2022,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
90755,22100527,1610612764,NF,WAS,CLE,2021-12-30,2022,0.0,0.0,0.0,0.166667,0.0,0.0,0.0,0.000000,1.0,6.000000,0.0,0.0
90756,22201016,1610612764,NF,WAS,PHI,2023-03-12,2023,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

In [33]:
shooting_chart_allowed_by_team['GAME_DATE'] = pd.to_datetime(shooting_chart_allowed_by_team['GAME_DATE'])

In [39]:
# Database connection parameters
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + database + ';')
cursor = cnxn.cursor()
cursor.execute(f"DELETE FROM teamShootingAllowedByShotZoneArea")

# SQL insert statement
insert_stmt = '''
INSERT INTO teamShootingAllowedByShotZoneArea (
  GAME_ID, TEAM_ID, POSITION, TEAM_ABBREVIATION, oppAbrv, GAME_DATE, yearSeason, 
  Team_Allowed_Right_Side_Shot_PCT, Team_Allowed_Left_Side_Shot_PCT, 
  Team_Allowed_Left_Center_Shot_PCT, Team_Allowed_Center_Shot_PCT, 
  Team_Allowed_Back_Court_Shot_PCT, Team_Allowed_Right_Center_Shot_PCT, 
  Team_Allowed_Right_Side_Shot_COUNT, Team_Allowed_Left_Side_Shot_COUNT, 
  Team_Allowed_Left_Center_Shot_COUNT, Team_Allowed_Center_Shot_COUNT, 
  Team_Allowed_Back_Court_Shot_COUNT, Team_Allowed_Right_Center_Shot_COUNT
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
'''

# Loop through DataFrame rows and insert into database
for index, row in shooting_chart_allowed_by_team.iterrows():
    try:
        # Convert GAME_DATE to datetime format if it's not already
        row['GAME_DATE'] = pd.to_datetime(row['GAME_DATE'])
        
        # Execute the insert statement
        cursor.execute(insert_stmt, tuple(row))
        cnxn.commit()
    except Exception as e:
        print(f"An error occurred at row {index}: {e}")
        # Depending on your preference, you can break, continue, or retry

# Close the connection
cursor.close()
cnxn.close()

# player shooting stats by Shot Zone Area

In [7]:
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()
sql = """

WITH base1 as(
  SELECT 
  [PLAYER_ID],
  [POSITION],
      
  rank() over (partition by [PLAYER_ID] order by [SEASON] desc, AGE desc, TeamID desc) as ranking 
  FROM [nba_game_data].[dbo].[CommonTeamRoster]
  ), backup_position as(
  select  
  [PLAYER_ID],
  [POSITION]
      
  from base1 
  where ranking = 1)
  , base as (
SELECT 
	   lgl.[GAME_ID]
      ,scd.[TEAM_ID]
	  ,coalesce(ctr.POSITION,bp.POSITION,'NF') as POSITION
	  ,scd.PLAYER_ID
	  ,scd.PLAYER_NAME
	  ,lgl.TEAM_ABBREVIATION
	  ,lgl.oppAbrv
	  ,cast(lgl.GAME_DATE as date) as GAME_DATE
	  ,[PERIOD]
      ,(abs(5-[PERIOD])*12)-(12-[MINUTES_REMAINING]) as MINUTES_REMAINING_IN_GAME
      ,[MINUTES_REMAINING] as MINUTES_REMAINING_IN_PERIOD
	  ,(abs(5-[PERIOD])*720)-(720-[SECONDS_REMAINING]) AS SECONDS_REMAINING_IN_GAME
      ,[SECONDS_REMAINING] AS SECONDS_REMAINING_IN_PERIOD
	  ,[ACTION_TYPE]
      ,[EVENT_TYPE]
	  ,SHOT_ZONE_AREA
	  ,SHOT_TYPE
	  ,SHOT_ZONE_BASIC
	  ,SHOT_ZONE_RANGE
      ,CASE WHEN TRIM([EVENT_TYPE]) = 'Made Shot' THEN 1.0 ELSE 0.0 END AS SHOT_MADE
	  , lgl.yearSeason

  FROM [nba_game_data].[dbo].[ShotChartDetail] scd
  
  LEFT OUTER JOIN nba_game_data.dbo.LeagueGameLog lgl
    on 
    scd.GAME_ID = lgl.GAME_ID
    and scd.TEAM_ID = lgl.TEAM_ID

  left outer join [nba_game_data].[dbo].[CommonTeamRoster] ctr
    on scd.PLAYER_ID = ctr.PLAYER_ID
    and lgl.yearSeason = ctr.SEASON
    and lgl.TEAM_ID = ctr.TeamID

  left outer join backup_position bp
	on
	scd.PLAYER_ID = bp.PLAYER_ID
	
),  the_meat as (
 	SELECT 
	PLAYER_ID,
    GAME_ID,
	POSITION,
	TEAM_ABBREVIATION,
    oppAbrv,
    GAME_DATE,
    yearSeason,

	AVG(CASE WHEN SHOT_ZONE_AREA = 'Right Side(R)' THEN SHOT_MADE ELSE NULL END) AS Right_Side_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Left Side(L)' THEN SHOT_MADE ELSE NULL END) AS Left_Side_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Left Side Center(LC)' THEN SHOT_MADE ELSE NULL END) AS Left_Center_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Center(C)' THEN SHOT_MADE ELSE NULL END) AS Center_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Back Court(BC)' THEN SHOT_MADE ELSE null END) AS Back_Court_Shot_PCT,
	AVG(CASE WHEN SHOT_ZONE_AREA = 'Right Side Center(RC)' THEN SHOT_MADE ELSE NULL END) AS Right_Center_Shot_PCT,

	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Right Side(R)' THEN SHOT_MADE ELSE NULL END) AS Right_Side_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Left Side(L)' THEN SHOT_MADE ELSE NULL END) AS Left_Side_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Left Side Center(LC)' THEN SHOT_MADE ELSE NULL END) AS Left_Center_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Center(C)' THEN SHOT_MADE ELSE NULL END) AS Center_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Back Court(BC)' THEN SHOT_MADE ELSE null END) AS Back_Court_Shot_COUNT,
	COUNT(CASE WHEN SHOT_ZONE_AREA = 'Right Side Center(RC)' THEN SHOT_MADE ELSE NULL END) AS Right_Center_Shot_COUNT

  FROM base

GROUP BY GAME_ID, PLAYER_ID, oppAbrv, GAME_DATE, yearSeason,TEAM_ABBREVIATION,POSITION

)
select 
the_meat.GAME_ID
,the_meat.PLAYER_ID
,the_meat.POSITION
,the_meat.TEAM_ABBREVIATION
,the_meat.oppAbrv
,the_meat.GAME_DATE
,the_meat.yearSeason
,coalesce(AVG(the_meat.Right_Side_Shot_PCT) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) AS Player_Right_Side_Shot_PCT
,coalesce(AVG(the_meat.Left_Side_Shot_PCT) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Left_Side_Shot_PCT
,coalesce(AVG(the_meat.Left_Center_Shot_PCT) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Left_Center_Shot_PCT
,coalesce(AVG(the_meat.Center_Shot_PCT) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Center_Shot_PCT
,coalesce(AVG(the_meat.Back_Court_Shot_PCT) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Back_Court_Shot_PCT
,coalesce(AVG(the_meat.Right_Center_Shot_PCT) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Right_Center_Shot_PCT

,coalesce(AVG(CAST(the_meat.Right_Side_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) AS Player_Right_Side_Shot_COUNT
,coalesce(AVG(CAST(the_meat.Left_Side_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Left_Side_Shot_COUNT
,coalesce(AVG(CAST(the_meat.Left_Center_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Left_Center_Shot_COUNT
,coalesce(AVG(CAST(the_meat.Center_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Center_Shot_COUNT
,coalesce(AVG(CAST(the_meat.Back_Court_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Back_Court_Shot_COUNT
,coalesce(AVG(CAST(the_meat.Right_Center_Shot_COUNT AS FLOAT)) OVER (PARTITION BY the_meat.PLAYER_ID, the_meat.yearSeason,the_meat.POSITION ORDER BY the_meat.GAME_DATE ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),0) as Player_Right_Center_Shot_COUNT

from the_meat

 
order by PLAYER_ID,GAME_DATE
"""
player_shoting_by_shot_area = pd.read_sql(sql,cnxn)
player_shoting_by_shot_area

,GAME_ID,PLAYER_ID,POSITION,TEAM_ABBREVIATION,oppAbrv,GAME_DATE,yearSeason,Player_Right_Side_Shot_PCT,Player_Left_Side_Shot_PCT,Player_Left_Center_Shot_PCT,Player_Center_Shot_PCT,Player_Back_Court_Shot_PCT,Player_Right_Center_Shot_PCT,Player_Right_Side_Shot_COUNT,Player_Left_Side_Shot_COUNT,Player_Left_Center_Shot_COUNT,Player_Center_Shot_COUNT,Player_Back_Court_Shot_COUNT,Player_Right_Center_Shot_COUNT
0,21500017,708,F,MIN,LAL,2015-10-28,2016,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,21500029,708,F,MIN,DEN,2015-10-30,2016,0.000000,0.0,0.000000,1.000000,0.0,0.000000,1.000000,1.000000,0.000000,2.000000,0.0,0.000000
2,21500050,708,F,MIN,POR,2015-11-02,2016,0.000000,0.0,0.000000,1.000000,0.0,0.000000,0.500000,0.500000,1.000000,1.500000,0.0,0.000000
3,21500071,708,F,MIN,MIA,2015-11-05,2016,0.000000,0.0,0.000000,1.000000,0.0,0.000000,0.333333,0.666667,1.000000,1.000000,0.0,0.333333
4,21500085,708,F,MIN,CHI,2015-11-07,2016,0.000000,0.0,0.000000,0.666666,0.0,0.000000,0.250000,0.500000,0.750000,1.000000,0.0,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197586,22300041,1641871,C,POR,PHX,2023-11-21,2024,0.000000,0.5,0.250000,0.245000,0.0,0.000000,0.400000,0.600000,0.600000,4.400000,0.0,1.000000
197587,22300237,1641871,C,POR,UTA,2023-11-22,2024,0.000000,0.5,0.250000,0.329166,0.0,0.100000,0.333333,0.500000,0.500000,4.333333,0.0,1.166667
197588,22300245,1641871,C,POR,MIL,2023-11-26,2024,0.500000,0.5,0.250000,0.353571,0.0,0.083333,0.571429,0.428571,0.428571,4.000000,0.0,1.142857
197589,22300254,1641871,C,POR,IND,2023-11-27,2024,0.333333,0.5,0.166666,0.309375,0.0,0.214285,0.625000,0.375000,0.500000,3.750000,0.0,1.125000
197590,22300265,1641871,C,POR,CLE,2023-11-30,2024,0.333333,0.5,0.375000,0.309375,0.0,0.214285,0.555556,0.333333,0.555556,3.333333,0.0,1.000000

In [51]:
player_shoting_by_shot_area['GAME_DATE'] = pd.to_datetime(player_shoting_by_shot_area['GAME_DATE'])

In [54]:
import pyodbc
import pandas as pd

# Assuming player_shoting_by_shot_area is your DataFrame
# Make sure the DataFrame is loaded here

# Database connection parameters
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + database + ';')
cursor = cnxn.cursor()
cursor.execute(f"DELETE FROM playerShootingByShotZoneArea")

# SQL insert statement with updated column names
insert_stmt = '''
INSERT INTO playerShootingByShotZoneArea (
  GAME_ID, PLAYER_ID, POSITION, TEAM_ABBREVIATION, oppAbrv, GAME_DATE, yearSeason, 
  Player_Right_Side_Shot_PCT, Player_Left_Side_Shot_PCT, 
  Player_Left_Center_Shot_PCT, Player_Center_Shot_PCT, 
  Player_Back_Court_Shot_PCT, Player_Right_Center_Shot_PCT, 
  Player_Right_Side_Shot_COUNT, Player_Left_Side_Shot_COUNT, 
  Player_Left_Center_Shot_COUNT, Player_Center_Shot_COUNT, 
  Player_Back_Court_Shot_COUNT, Player_Right_Center_Shot_COUNT
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
'''

# Loop through DataFrame rows and insert into database
for index, row in player_shoting_by_shot_area.iterrows():
    try:
        # Convert GAME_DATE to datetime format if it's not already
        row['GAME_DATE'] = pd.to_datetime(row['GAME_DATE'])
        
        # Execute the insert statement
        cursor.execute(insert_stmt, tuple(row))
        cnxn.commit()
    except Exception as e:
        print(f"An error occurred at row {index}: {e}")
        # Depending on your preference, you can break, continue, or retry

# Close the connection
cursor.close()
cnxn.close()

# Defense

In [4]:
server = 'localhost\SQLEXPRESS'
database = 'nba_game_data'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
cursor = cnxn.cursor()
sql = "SELECT distinct trim(cast(FORMAT(GAME_ID, '0000000000') as char)) AS GAME_ID FROM [nba_game_data].[dbo].[leagueGameLog] where yearSeason >= 2018 --0{}"#.format(yearSeason)
all_games = pd.read_sql(sql,cnxn)
sql = "SELECT distinct gameId AS GAME_ID FROM [nba_game_data].[dbo].[BoxScoreDefensiveV2]"#.format(yearSeason)
all_defense = pd.read_sql(sql,cnxn)

In [5]:
missing_games = all_games.merge(all_defense, on=['GAME_ID'],how='left', indicator=True)
missing_games = missing_games.loc[missing_games['_merge']=='left_only'].reset_index(drop=True)
missing_games['GAME_ID'] = missing_games['GAME_ID'].astype(str).str.zfill(10)
missing_games

         GAME_ID     _merge
0     0021700001  left_only
1     0021700002  left_only
2     0021700003  left_only
3     0021700004  left_only
4     0021700005  left_only
...          ...        ...
7327  0022300269  left_only
7328  0022300270  left_only
7329  0022300271  left_only
7330  0022300272  left_only
7331  0022300273  left_only

[7332 rows x 2 columns]

In [6]:
missing_games = missing_games['GAME_ID'].to_list()

In [9]:
1% 1 ==2

False

In [13]:
final_defense = pd.DataFrame()
i = 1
for game_id in missing_games:
    if i% 250 ==0:
        print(i)
    i += 1
    try:
        box_defense = BoxScoreDefensiveV2(game_id=game_id)

        # Fetch the data and convert it to a DataFrame
        data_frames = box_defense.get_data_frames()

        # Assuming you want the first DataFrame
        df = data_frames[0] if data_frames else pd.DataFrame()
        final_defense = pd.concat([final_defense,df]).reset_index(drop=True)
    except:
        print(game_id)
    
# game_id = '0021700024'

# # Create an instance of the BoxScoreDefensiveV2 class
# box_defense = BoxScoreDefensiveV2(game_id=game_id)

# # Fetch the data and convert it to a DataFrame
# data_frames = box_defense.get_data_frames()

# # Assuming you want the first DataFrame
# df = data_frames[0] if data_frames else pd.DataFrame()
# df

0021700067
0021700088
0021700230
250
0021700365
0021700366
0021700376
0021700431
500
0021700614
750
1000
0021800014
1250
0021800218
1500
0021800418
0021800429
1750
0021800665
0021800678
2000
0021800911
2250
2500
2750
0021900369
0021900380
3000
0021900669
3250
0021900792
3500
3750
4000
4250
4500
0022100132
4750
5000
0022100559
5250
5500
5750
6000
6250
6500
6750
7000
0022300139
7250

In [12]:
final_defense

,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,firstName,familyName,nameI,...,matchupAssists,matchupTurnovers,steals,blocks,matchupFieldGoalsMade,matchupFieldGoalsAttempted,matchupFieldGoalPercentage,matchupThreePointersMade,matchupThreePointersAttempted,matchupThreePointerPercentage
0,0021700001,1610612738,Boston,Celtics,BOS,celtics,202330,Gordon,Hayward,G. Hayward,...,1,1,0,0,1,1,1.000,0,0,0.000
1,0021700001,1610612738,Boston,Celtics,BOS,celtics,1628369,Jayson,Tatum,J. Tatum,...,3,3,0,0,2,8,0.250,0,3,0.000
2,0021700001,1610612738,Boston,Celtics,BOS,celtics,201143,Al,Horford,A. Horford,...,0,1,0,1,4,13,0.308,1,5,0.200
3,0021700001,1610612738,Boston,Celtics,BOS,celtics,1627759,Jaylen,Brown,J. Brown,...,3,2,2,0,9,14,0.643,2,5,0.400
4,0021700001,1610612738,Boston,Celtics,BOS,celtics,202681,Kyrie,Irving,K. Irving,...,1,4,3,0,6,20,0.300,0,4,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,0021700009,1610612742,Dallas,Mavericks,DAL,mavericks,203457,Nerlens,Noel,N. Noel,...,5,3,1,3,6,13,0.462,1,1,1.000
18,0021700009,1610612742,Dallas,Mavericks,DAL,mavericks,200826,J.J.,Barea,J. Barea,...,2,0,0,0,4,7,0.571,2,4,0.500
19,0021700009,1610612742,Dallas,Mavericks,DAL,mavericks,2734,Devin,Harris,D. Harris,...,2,0,0,0,3,6,0.500,2,3,0.667
20,0021700009,1610612742,Dallas,Mavericks,DAL,mavericks,203939,Dwight,Powell,D. Powell,...,0,3,1,1,4,6,0.667,1,1,1.000
21,0021700009,1610612742,Dallas,Mavericks,DAL,mavericks,1627827,Dorian,Finney-Smith,D. Finney-Smith,...,0,0,0,0,1,3,0.333,1,2,0.500

In [73]:
final_defense

,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,firstName,familyName,nameI,...,matchupAssists,matchupTurnovers,steals,blocks,matchupFieldGoalsMade,matchupFieldGoalsAttempted,matchupFieldGoalPercentage,matchupThreePointersMade,matchupThreePointersAttempted,matchupThreePointerPercentage
0,0021700001,1610612738,Boston,Celtics,BOS,celtics,202330,Gordon,Hayward,G. Hayward,...,1,1,0,0,1,1,1.000,0,0,0.000
1,0021700001,1610612738,Boston,Celtics,BOS,celtics,1628369,Jayson,Tatum,J. Tatum,...,3,3,0,0,2,8,0.250,0,3,0.000
2,0021700001,1610612738,Boston,Celtics,BOS,celtics,201143,Al,Horford,A. Horford,...,0,1,0,1,4,13,0.308,1,5,0.200
3,0021700001,1610612738,Boston,Celtics,BOS,celtics,1627759,Jaylen,Brown,J. Brown,...,3,2,2,0,9,14,0.643,2,5,0.400
4,0021700001,1610612738,Boston,Celtics,BOS,celtics,202681,Kyrie,Irving,K. Irving,...,1,4,3,0,6,20,0.300,0,4,0.000
5,0021700001,1610612738,Boston,Celtics,BOS,celtics,203935,Marcus,Smart,M. Smart,...,3,0,2,2,6,10,0.600,0,0,0.000
6,0021700001,1610612738,Boston,Celtics,BOS,celtics,203382,Aron,Baynes,A. Baynes,...,4,2,0,1,9,15,0.600,1,2,0.500
7,0021700001,1610612738,Boston,Celtics,BOS,celtics,1628400,Semi,Ojeleye,S. Ojeleye,...,1,1,0,0,1,2,0.500,0,0,0.000
8,0021700001,1610612738,Boston,Celtics,BOS,celtics,1626179,Terry,Rozier,T. Rozier,...,1,3,4,0,4,6,0.667,0,1,0.000
9,0021700001,1610612738,Boston,Celtics,BOS,celtics,203499,Shane,Larkin,S. Larkin,...,1,0,0,0,1,1,1.000,1,1,1.000
10,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,2544,LeBron,James,L. James,...,3,2,0,2,3,17,0.176,0,7,0.000
11,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,203109,Jae,Crowder,J. Crowder,...,1,2,2,0,5,13,0.385,2,4,0.500
12,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,201567,Kevin,Love,K. Love,...,2,0,0,0,3,7,0.429,1,3,0.333
13,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,2548,Dwyane,Wade,D. Wade,...,3,0,0,2,3,8,0.375,0,1,0.000
14,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,201565,Derrick,Rose,D. Rose,...,6,3,0,0,7,16,0.438,1,5,0.200
15,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,202684,Tristan,Thompson,T. Thompson,...,1,1,0,0,4,12,0.333,0,3,0.000
16,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,2747,JR,Smith,J. Smith,...,1,0,0,0,0,5,0.000,0,4,0.000
17,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,202697,Iman,Shumpert,I. Shumpert,...,0,1,1,0,2,3,0.667,2,3,0.667
18,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,201145,Jeff,Green,J. Green,...,1,1,0,0,3,4,0.750,1,2,0.500
19,0021700001,1610612739,Cleveland,Cavaliers,CLE,cavaliers,2594,Kyle,Korver,K. Korver,...,1,0,0,0,4,4,1.000,1,1,1.000

In [70]:
# Function to convert time format to total minutes
def convert_to_decimal_minutes(time_str):
    minutes, seconds = map(int, time_str.split(':'))
    return minutes + seconds / 60

# Applying the conversion
df['matchupMinutes'] = df['matchupMinutes'].apply(convert_to_decimal_minutes)

In [71]:
df['matchupMinutes']

0      2.116667
1     14.483333
2     12.883333
3     15.433333
4     15.400000
5     13.716667
6      7.383333
7      2.966667
8      7.633333
9      1.900000
10    17.450000
11    14.033333
12    11.633333
13    11.666667
14    12.883333
15     8.733333
16     9.850000
17     5.433333
18     6.633333
19     3.483333
Name: matchupMinutes, dtype: float64

In [60]:
print(create_table_statement(df,'BoxScoreDefensiveV2'))

CREATE TABLE BoxScoreDefensiveV2 (
  [gameId] NVARCHAR(MAX),
  [teamId] BIGINT,
  [teamCity] NVARCHAR(MAX),
  [teamName] NVARCHAR(MAX),
  [teamTricode] NVARCHAR(MAX),
  [teamSlug] NVARCHAR(MAX),
  [personId] BIGINT,
  [firstName] NVARCHAR(MAX),
  [familyName] NVARCHAR(MAX),
  [nameI] NVARCHAR(MAX),
  [playerSlug] NVARCHAR(MAX),
  [position] NVARCHAR(MAX),
  [comment] NVARCHAR(MAX),
  [jerseyNum] NVARCHAR(MAX),
  [matchupMinutes] FLOAT,
  [partialPossessions] FLOAT,
  [switchesOn] BIGINT,
  [playerPoints] BIGINT,
  [defensiveRebounds] BIGINT,
  [matchupAssists] BIGINT,
  [matchupTurnovers] BIGINT,
  [steals] BIGINT,
  [blocks] BIGINT,
  [matchupFieldGoalsMade] BIGINT,
  [matchupFieldGoalsAttempted] BIGINT,
  [matchupFieldGoalPercentage] FLOAT,
  [matchupThreePointersMade] BIGINT,
  [matchupThreePointersAttempted] BIGINT,
  [matchupThreePointerPercentage] FLOAT
);

In [9]:
df = BoxScoreDefensiveV2(game_id = '0021700024')
data = json.loads(df.get_json())
home_data = data['boxScoreDefensive']['homeTeam']['players']
away_data = data['boxScoreDefensive']['awayTeam']['players']

# Creating a DataFrame
df = pd.DataFrame([{
    **player,
    **player['statistics']
} for player in home_data])
# Creating a DataFrame
df2 = pd.DataFrame([{
    **player,
    **player['statistics']
} for player in away_data])

df['TEAM_ID'] = data['boxScoreDefensive']['homeTeam']['teamId']
df2['TEAM_ID'] = data['boxScoreDefensive']['awayTeam']['teamId']

df = pd.concat([df,df2])
df['GAME_ID'] = data['boxScoreDefensive']['gameId']
# Dropping the 'statistics' column since we've already merged its contents
df = df.drop(columns=['statistics'])

df

NameError: name 'BoxScoreDefensiveV2' is not defined

In [17]:
shot_data

{'meta': {'version': 1,
  'request': 'http://nba.cloud/games/0021700024/boxscoredefensive?Format=json',
  'time': '2023-12-01T16:01:56.156Z'},
 'boxScoreDefensive': {'gameId': '0021700024',
  'awayTeamId': 1610612758,
  'homeTeamId': 1610612742,
  'homeTeam': {'teamId': 1610612742,
   'teamCity': 'Dallas',
   'teamName': 'Mavericks',
   'teamTricode': 'DAL',
   'teamSlug': 'mavericks',
   'players': [{'personId': 203084,
     'firstName': 'Harrison',
     'familyName': 'Barnes',
     'nameI': 'H. Barnes',
     'playerSlug': 'harrison-barnes',
     'position': 'F',
     'comment': '',
     'jerseyNum': '40',
     'statistics': {'matchupMinutes': '17:11',
      'partialPossessions': 72.1,
      'switchesOn': 0,
      'playerPoints': 12,
      'defensiveRebounds': 3,
      'matchupAssists': 2,
      'matchupTurnovers': 1,
      'steals': 0,
      'blocks': 0,
      'matchupFieldGoalsMade': 5,
      'matchupFieldGoalsAttempted': 15,
      'matchupFieldGoalPercentage': 0.333,
      'matchupThreePointersMade': 2,
      'matchupThreePointersAttempted': 5,
      'matchupThreePointerPercentage': 0.4}},
    {'personId': 1717,
     'firstName': 'Dirk',
     'familyName': 'Nowitzki',
     'nameI': 'D. Nowitzki',
     'playerSlug': 'dirk-nowitzki',
     'position': 'F',
     'comment': '',
     'jerseyNum': '41',
     'statistics': {'matchupMinutes': '12:41',
      'partialPossessions': 56.4,
      'switchesOn': 0,
      'playerPoints': 16,
      'defensiveRebounds': 9,
      'matchupAssists': 1,
      'matchupTurnovers': 4,
      'steals': 0,
      'blocks': 0,
      'matchupFieldGoalsMade': 8,
      'matchupFieldGoalsAttempted': 17,
      'matchupFieldGoalPercentage': 0.471,
      'matchupThreePointersMade': 0,
      'matchupThreePointersAttempted': 1,
      'matchupThreePointerPercentage': 0.0}},
    {'personId': 203457,
     'firstName': 'Nerlens',
     'familyName': 'Noel',
     'nameI': 'N. Noel',
     'playerSlug': 'nerlens-noel',
     'position': 'C',
     'comment': '',
     'jerseyNum': '3',
     'statistics': {'matchupMinutes': '12:28',
      'partialPossessions': 48.7,
      'switchesOn': 0,
      'playerPoints': 18,
      'defensiveRebounds': 5,
      'matchupAssists': 2,
      'matchupTurnovers': 0,
      'steals': 3,
      'blocks': 2,
      'matchupFieldGoalsMade': 8,
      'matchupFieldGoalsAttempted': 14,
      'matchupFieldGoalPercentage': 0.571,
      'matchupThreePointersMade': 2,
      'matchupThreePointersAttempted': 3,
      'matchupThreePointerPercentage': 0.667}},
    {'personId': 202083,
     'firstName': 'Wesley',
     'familyName': 'Matthews',
     'nameI': 'W. Matthews',
     'playerSlug': 'wesley-matthews',
     'position': 'G',
     'comment': '',
     'jerseyNum': '23',
     'statistics': {'matchupMinutes': '15:14',
      'partialPossessions': 61.1,
      'switchesOn': 0,
      'playerPoints': 10,
      'defensiveRebounds': 1,
      'matchupAssists': 2,
      'matchupTurnovers': 2,
      'steals': 2,
      'blocks': 1,
      'matchupFieldGoalsMade': 4,
      'matchupFieldGoalsAttempted': 10,
      'matchupFieldGoalPercentage': 0.4,
      'matchupThreePointersMade': 2,
      'matchupThreePointersAttempted': 4,
      'matchupThreePointerPercentage': 0.5}},
    {'personId': 200826,
     'firstName': 'J.J.',
     'familyName': 'Barea',
     'nameI': 'J. Barea',
     'playerSlug': 'jj-barea',
     'position': 'G',
     'comment': '',
     'jerseyNum': '5',
     'statistics': {'matchupMinutes': '11:21',
      'partialPossessions': 52.3,
      'switchesOn': 0,
      'playerPoints': 11,
      'defensiveRebounds': 1,
      'matchupAssists': 5,
      'matchupTurnovers': 2,
      'steals': 1,
      'blocks': 1,
      'matchupFieldGoalsMade': 5,
      'matchupFieldGoalsAttempted': 8,
      'matchupFieldGoalPercentage': 0.625,
      'matchupThreePointersMade': 1,
      'matchupThreePointersAttempted': 1,
      'matchupThreePointerPercentage': 1.0}},
    {'personId': 1627812,
     'firstName': 'Yogi',
     'familyName': 'Ferrell',
     'nameI': 'Y. Ferrell',
     'playerSlug': 'yogi-ferrell',
     'position': '',
     'comment': '',
     'jerseyNum': '11',
     'statistics': {'matchupMinutes': '13:32',
      'partialPossessions': 56.5,
      'switchesOn': 0,
      'playerPoints': 5,
      'defensiveRebounds': 4,
      'matchupAssists': 3,
      'matchupTurnovers': 4,
      'steals': 1,
      'blocks': 0,
      'matchupFieldGoalsMade': 2,
      'matchupFieldGoalsAttempted': 5,
      'matchupFieldGoalPercentage': 0.4,
      'matchupThreePointersMade': 1,
      'matchupThreePointersAttempted': 1,
      'matchupThreePointerPercentage': 1.0}},
    {'personId': 203939,
     'firstName': 'Dwight',
     'familyName': 'Powell',
     'nameI': 'D. Powell',
     'playerSlug': 'dwight-powell',
     'position': '',
     'comment': '',
     'jerseyNum': '7',
     'statistics': {'matchupMinutes': '4:20',
      'partialPossessions': 17.6,
      'switchesOn': 0,
      'playerPoints': 2,
      'defensiveRebounds': 2,
      'matchupAssists': 1,
      'matchupTurnovers': 1,
      'steals': 0,
      'blocks': 0,
      'matchupFieldGoalsMade': 1,
      'matchupFieldGoalsAttempted': 3,
      'matchupFieldGoalPercentage': 0.333,
      'matchupThreePointersMade': 0,
      'matchupThreePointersAttempted': 1,
      'matchupThreePointerPercentage': 0.0}},
    {'personId': 1626257,
     'firstName': 'Salah',
     'familyName': 'Mejri',
     'nameI': 'S. Mejri',
     'playerSlug': 'salah-mejri',
     'position': '',
     'comment': '',
     'jerseyNum': '50',
     'statistics': {'matchupMinutes': '5:35',
      'partialPossessions': 25.3,
      'switchesOn': 0,
      'playerPoints': 4,
      'defensiveRebounds': 3,
      'matchupAssists': 2,
      'matchupTurnovers': 0,
      'steals': 0,
      'blocks': 3,
      'matchupFieldGoalsMade': 2,
      'matchupFieldGoalsAttempted': 9,
      'matchupFieldGoalPercentage': 0.222,
      'matchupThreePointersMade': 0,
      'matchupThreePointersAttempted': 1,
      'matchupThreePointerPercentage': 0.0}},
    {'personId': 1627827,
     'firstName': 'Dorian',
     'familyName': 'Finney-Smith',
     'nameI': 'D. Finney-Smith',
     'playerSlug': 'dorian-finney-smith',
     'position': '',
     'comment': '',
     'jerseyNum': '10',
     'statistics': {'matchupMinutes': '8:37',
      'partialPossessions': 40.1,
      'switchesOn': 0,
      'playerPoints': 11,
      'defensiveRebounds': 0,
      'matchupAssists': 2,
      'matchupTurnovers': 1,
      'steals': 0,
      'blocks': 0,
      'matchupFieldGoalsMade': 4,
      'matchupFieldGoalsAttempted': 9,
      'matchupFieldGoalPercentage': 0.444,
      'matchupThreePointersMade': 3,
      'matchupThreePointersAttempted': 6,
      'matchupThreePointerPercentage': 0.5}},
    {'personId': 1628492,
     'firstName': 'Gian',
     'familyName': 'Clavell',
     'nameI': 'G. Clavell',
     'playerSlug': 'gian-clavell',
     'position': '',
     'comment': '',
     'jerseyNum': '8',
     'statistics': {'matchupMinutes': '3:52',
      'partialPossessions': 19.9,
      'switchesOn': 0,
      'playerPoints': 0,
      'defensiveRebounds': 1,
      'matchupAssists': 0,
      'matchupTurnovers': 0,
      'steals': 1,
      'blocks': 0,
      'matchupFieldGoalsMade': 0,
      'matchupFieldGoalsAttempted': 5,
      'matchupFieldGoalPercentage': 0.0,
      'matchupThreePointersMade': 0,
      'matchupThreePointersAttempted': 0,
      'matchupThreePointerPercentage': 0.0}}],
   'statistics': {'minutes': None}},
  'awayTeam': {'teamId': 1610612758,
   'teamCity': 'Sacramento',
   'teamName': 'Kings',
   'teamTricode': 'SAC',
   'teamSlug': 'kings',
   'players': [{'personId': 1628382,
     'firstName': 'Justin',
     'familyName': 'Jackson',
     'nameI': 'J. Jackson',
     'playerSlug': 'justin-jackson',
     'position': 'F',
     'comment': '',
     'jerseyNum': '25',
     'statistics': {'matchupMinutes': '6:16',
      'partialPossessions': 30.1,
      'switchesOn': 0,
      'playerPoints': 7,
      'defensiveRebounds': 3,
      'matchupAssists': 2,
      'matchupTurnovers': 0,
      'steals': 0,
      'blocks': 0,
      'matchupFieldGoalsMade': 3,
      'matchupFieldGoalsAttempted': 6,
      'matchupFieldGoalPercentage': 0.5,
      'matchupThreePointersMade': 1,
      'matchupThreePointersAttempted': 2,
      'matchupThreePointerPercentage': 0.5}},
    {'personId': 2216,
     'firstName': 'Zach',
     'familyName': 'Randolph',
     'nameI': 'Z. Randolph',
     'playerSlug': 'zach-randolph',
     'position': 'F',
     'comment': '',
     'jerseyNum': '50',
     'statistics': {'matchupMinutes': '11:04',
      'partialPossessions': 53.6,
      'switchesOn': 0,
      'playerPoints': 6,
      'defensiveRebounds': 3,
      'matchupAssists': 1,
      'matchupTurnovers': 1,
      'steals': 2,
      'blocks': 0,
      'matchupFieldGoalsMade': 3,
      'matchupFieldGoalsAttempted': 6,
      'matchupFieldGoalPercentage': 0.5,
      'matchupThreePointersMade': 0,
      'matchupThreePointersAttempted': 2,
      'matchupThreePointerPercentage': 0.0}},
    {'personId': 1626161,
     'firstName': 'Willie',
     'familyName': 'Cauley-Stein',
     'nameI': 'W. Cauley-Stein',
     'playerSlug': 'willie-cauley-stein',
     'position': 'C',
     'comment': '',
     'jerseyNum': '00',
     'statistics': {'matchupMinutes': '9:26',
      'partialPossessions': 50.0,
      'switchesOn': 0,
      'playerPoints': 9,
      'defensiveRebounds': 7,
      'matchupAssists': 2,
      'matchupTurnovers': 0,
      'steals': 0,
      'blocks': 1,
      'matchupFieldGoalsMade': 4,
      'matchupFieldGoalsAttempted': 16,
      'matchupFieldGoalPercentage': 0.25,
      'matchupThreePointersMade': 1,
      'matchupThreePointersAttempted': 7,
      'matchupThreePointerPercentage': 0.143}},
    {'personId': 1627741,
     'firstName': 'Buddy',
     'familyName': 'Hield',
     'nameI': 'B. Hield',
     'playerSlug': 'buddy-hield',
     'position': 'G',
     'comment': '',
     'jerseyNum': '24',
     'statistics': {'matchupMinutes': '10:15',
      'partialPossessions': 52.1,
      'switchesOn': 0,
      'playerPoints': 2,
      'defensiveRebounds': 5,
      'matchupAssists': 3,
      'matchupTurnovers': 1,
      'steals': 0,
      'blocks': 0,
      'matchupFieldGoalsMade': 1,
      'matchupFieldGoalsAttempted': 5,
      'matchupFieldGoalPercentage': 0.2,
      'matchupThreePointersMade': 0,
      'matchupThreePointersAttempted': 1,
      'matchupThreePointerPercentage': 0.0}},
    {'personId': 201588,
     'firstName': 'George',
     'familyName': 'Hill',
     'nameI': 'G. Hill',
     'playerSlug': 'george-hill',
     'position': 'G',
     'comment': '',
     'jerseyNum': '3',
     'statistics': {'matchupMinutes': '11:40',
      'partialPossessions': 58.7,
      'switchesOn': 0,
      'playerPoints': 15,
      'defensiveRebounds': 4,
      'matchupAssists': 3,
      'matchupTurnovers': 7,
      'steals': 2,
      'blocks': 0,
      'matchupFieldGoalsMade': 6,
      'matchupFieldGoalsAttempted': 11,
      'matchupFieldGoalPercentage': 0.545,
      'matchupThreePointersMade': 3,
      'matchupThreePointersAttempted': 7,
      'matchupThreePointerPercentage': 0.429}},
    {'personId': 202066,
     'firstName': 'Garrett',
     'familyName': 'Temple',
     'nameI': 'G. Temple',
     'playerSlug': 'garrett-temple',
     'position': '',
     'comment': '',
     'jerseyNum': '17',
     'statistics': {'matchupMinutes': '11:33',
      'partialPossessions': 55.0,
      'switchesOn': 0,
      'playerPoints': 10,
      'defensiveRebounds': 5,
      'matchupAssists': 1,
      'matchupTurnovers': 2,
      'steals': 2,
      'blocks': 0,
      'matchupFieldGoalsMade': 4,
      'matchupFieldGoalsAttempted': 8,
      'matchupFieldGoalPercentage': 0.5,
      'matchupThreePointersMade': 2,
      'matchupThreePointersAttempted': 3,
      'matchupThreePointerPercentage': 0.667}},
    {'personId': 1628368,
     'firstName': "De'Aaron",
     'familyName': 'Fox',
     'nameI': 'D. Fox',
     'playerSlug': 'deaaron-fox',
     'position': '',
     'comment': '',
     'jerseyNum': '5',
     'statistics': {'matchupMinutes': '11:07',
      'partialPossessions': 50.2,
      'switchesOn': 0,
      'playerPoints': 5,
      'defensiveRebounds': 5,
      'matchupAssists': 5,
      'matchupTurnovers': 0,
      'steals': 1,
      'blocks': 0,
      'matchupFieldGoalsMade': 2,
      'matchupFieldGoalsAttempted': 6,
      'matchupFieldGoalPercentage': 0.333,
      'matchupThreePointersMade': 1,
      'matchupThreePointersAttempted': 2,
      'matchupThreePointerPercentage': 0.5}},
    {'personId': 201585,
     'firstName': 'Kosta',
     'familyName': 'Koufos',
     'nameI': 'K. Koufos',
     'playerSlug': 'kosta-koufos',
     'position': '',
     'comment': '',
     'jerseyNum': '41',
     'statistics': {'matchupMinutes': '9:15',
      'partialPossessions': 38.9,
      'switchesOn': 0,
      'playerPoints': 2,
      'defensiveRebounds': 2,
      'matchupAssists': 2,
      'matchupTurnovers': 0,
      'steals': 1,
      'blocks': 1,
      'matchupFieldGoalsMade': 1,
      'matchupFieldGoalsAttempted': 4,
      'matchupFieldGoalPercentage': 0.25,
      'matchupThreePointersMade': 0,
      'matchupThreePointersAttempted': 2,
      'matchupThreePointerPercentage': 0.0}},
    {'personId': 1627746,
     'firstName': 'Skal',
     'familyName': 'Labissiere',
     'nameI': 'S. Labissiere',
     'playerSlug': 'skal-labissiere',
     'position': '',
     'comment': '',
     'jerseyNum': '7',
     'statistics': {'matchupMinutes': '5:44',
      'partialPossessions': 23.4,
      'switchesOn': 0,
      'playerPoints': 5,
      'defensiveRebounds': 4,
      'matchupAssists': 0,
      'matchupTurnovers': 1,
      'steals': 0,
      'blocks': 1,
      'matchupFieldGoalsMade': 2,
      'matchupFieldGoalsAttempted': 8,
      'matchupFieldGoalPercentage': 0.25,
      'matchupThreePointersMade': 1,
      'matchupThreePointersAttempted': 3,
      'matchupThreePointerPercentage': 0.333}},
    {'personId': 1713,
     'firstName': 'Vince',
     'familyName': 'Carter',
     'nameI': 'V. Carter',
     'playerSlug': 'vince-carter',
     'position': '',
     'comment': '',
     'jerseyNum': '15',
     'statistics': {'matchupMinutes': '7:04',
      'partialPossessions': 33.3,
      'switchesOn': 0,
      'playerPoints': 12,
      'defensiveRebounds': 3,
      'matchupAssists': 0,
      'matchupTurnovers': 0,
      'steals': 0,
      'blocks': 0,
      'matchupFieldGoalsMade': 5,
      'matchupFieldGoalsAttempted': 7,
      'matchupFieldGoalPercentage': 0.714,
      'matchupThreePointersMade': 2,
      'matchupThreePointersAttempted': 3,
      'matchupThreePointerPercentage': 0.667}}],
   'statistics': {'minutes': None}}}}

In [8]:
from nba_api.stats.endpoints import defensehub
import pandas as pd

def fetch_defense_stats(game_scope, league_id, player_or_team, player_scope, season, season_type):
    try:
        defense = defensehub.DefenseHub(
        game_scope_detailed=game_scope,
        league_id=league_id,
        player_or_team=player_or_team,
        player_scope=player_scope,
        season=season,
        season_type_playoffs=season_type
    )

        defense_data = defense.get_data_frames()
        return defense_data

    except Exception as e:
        print(f"An error occurred: {e}")
        return None

# Example usage with your parameters
# ...

defense_stats = fetch_defense_stats(game_scope, league_id, player_or_team, player_scope, season, season_type)

if defense_stats:
    print(defense_stats[0].head())
else:
    print("Failed to fetch defense stats.")

An error occurred: Expecting value: line 1 column 1 (char 0)
Failed to fetch defense stats.

In [42]:
from nba_api.stats.endpoints import defensehub
import pandas as pd

# Create an instance of the DefenseHub class
defense_hub = defensehub.DefenseHub()

# Fetch the data
data = defense_hub.get_data_frames()

# Assuming you want the first DataFrame
df = data[0] if data else pd.DataFrame()

# Display the first few rows of the DataFrame
print(df.head())

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [41]:
DefenseHub.get_data_frames()

TypeError: get_data_frames() missing 1 required positional argument: 'self'

In [20]:
df = CommonTeamRoster(season=2023,team_id=1610612739)
shot_data = json.loads(df.get_json())
# Creating dataframes for each result set
dfs = {}
for result_set in shot_data['resultSets']:
    df = pd.DataFrame(result_set['rowSet'], columns=result_set['headers'])
    dfs[result_set['name']] = df

# Displaying the first few rows of each dataframe
for name, df in dfs.items():
    display(f"DataFrame for {name}:\n", df, "\n")

'DataFrame for CommonTeamRoster:\n'

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612739,2023,00,Max Strus,Max,max-strus,1,G-F,6-5,215,"MAR 28, 1996",27.0,4,DePaul,1629622,Traded from MIA on 07/06/23
1,1610612739,2023,00,Ty Jerome,Ty,ty-jerome,2,G-F,6-5,195,"JUL 08, 1997",26.0,4,Virginia,1629660,Signed on 07/06/23
2,1610612739,2023,00,Caris LeVert,Caris,caris-levert,3,G,6-6,205,"AUG 25, 1994",29.0,7,Michigan,1627747,Traded from IND on 02/07/22
3,1610612739,2023,00,Evan Mobley,Evan,evan-mobley,4,C,6-11,215,"JUN 18, 2001",22.0,2,Southern California,1630596,#3 Pick in 2021 Draft
4,1610612739,2023,00,Sam Merrill,Sam,sam-merrill,5,G,6-4,205,"MAY 15, 1996",27.0,3,Utah State,1630241,Signed on 03/03/23
5,1610612739,2023,00,Craig Porter Jr.,Craig,craig-porter-jr,9,G,6-1,180,"FEB 26, 2000",23.0,R,Wichita State,1641854,Signed on 07/03/23
6,1610612739,2023,00,Darius Garland,Darius,darius-garland,10,G,6-1,192,"JAN 26, 2000",23.0,4,Vanderbilt,1629636,#5 Pick in 2019 Draft
7,1610612739,2023,00,Tristan Thompson,Tristan,tristan-thompson,12,C-F,6-9,254,"MAR 13, 1991",32.0,12,Texas-Austin,202684,Signed on 09/12/23
8,1610612739,2023,00,Ricky Rubio,Ricky,ricky-rubio,13,G,6-2,190,"OCT 21, 1990",33.0,12,FC Barcelona,201937,Signed on 07/07/22
9,1610612739,2023,00,Isaiah Mobley,Isaiah,isaiah-mobley,15,F,6-8,238,"SEP 24, 1999",24.0,1,Southern California,1630600,#49 Pick in 2022 Draft
10,1610612739,2023,00,Georges Niang,Georges,georges-niang,20,F,6-7,230,"JUN 17, 1993",30.0,7,Iowa State,1627777,Signed on 07/06/23
11,1610612739,2023,00,Emoni Bates,Emoni,emoni-bates,21,F,6-8,170,"JAN 28, 2004",19.0,R,Eastern Michigan,1641734,#49 Pick in 2023 Draft
12,1610612739,2023,00,Damian Jones,Damian,damian-jones,30,C,6-10,245,"JUN 30, 1995",28.0,7,Vanderbilt,1627745,Traded from UTA on 07/08/23
13,1610612739,2023,00,Jarrett Allen,Jarrett,jarrett-allen,31,C,6-9,243,"APR 21, 1998",25.0,6,Texas,1628386,Traded from BKN on 01/16/21
14,1610612739,2023,00,Dean Wade,Dean,dean-wade,32,F-C,6-9,228,"NOV 20, 1996",27.0,4,Kansas State,1629731,Signed on 07/01/19
15,1610612739,2023,00,Isaac Okoro,Isaac,isaac-okoro,35,F-G,6-5,225,"JAN 26, 2001",22.0,3,Auburn,1630171,#5 Pick in 2020 Draft
16,1610612739,2023,00,Donovan Mitchell,Donovan,donovan-mitchell,45,G,6-3,215,"SEP 07, 1996",27.0,6,Louisville,1628378,Traded from UTA on 09/03/22

'\n'

'DataFrame for Coaches:\n'

,TEAM_ID,SEASON,COACH_ID,FIRST_NAME,LAST_NAME,COACH_NAME,IS_ASSISTANT,COACH_TYPE,SORT_SEQUENCE,SUB_SORT_SEQUENCE
0,1610612739,2023,2794,JB,Bickerstaff,JB Bickerstaff,1,Head Coach,None,1
1,1610612739,2023,203811,Greg,Buckner,Greg Buckner,9,Associate Head Coach,None,2
2,1610612739,2023,1226,Sidney,Lowe,Sidney Lowe,2,Assistant Coach,None,5
3,1610612739,2023,204012,Luke,Walton,Luke Walton,2,Assistant Coach,None,5
4,1610612739,2023,1629160,JJ,Outlaw,JJ Outlaw,2,Assistant Coach,None,5
5,1610612739,2023,204286,Stephen,Spiro,Stephen Spiro,3,Trainer,None,7

'\n'

## BoxScoreAdvancedV3

In [21]:
# server = 'localhost\SQLEXPRESS'
# database = 'nba_game_data'
# cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
# cursor = cnxn.cursor()
# sql = "SELECT distinct cast(FORMAT(GAME_ID, '0000000000') as char) as GAME_ID FROM [nba_game_data].[dbo].[leagueGameLog] --where yearSeason = {}"#.format(yearSeason)
# all_games = pd.read_sql(sql,cnxn)
# all_games

In [22]:
# server = 'localhost\SQLEXPRESS'
# database = 'nba_game_data'
# cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
# cursor = cnxn.cursor()
# sql = "SELECT distinct cast(FORMAT(GAME_ID, '0000000000') as char) as GAME_ID FROM [nba_game_data].[dbo].[BoxScoreAdvancedV3] where yearSeason = {}".format(yearSeason)
# data = pd.read_sql(sql,cnxn)
# # cnxn.close()
# # cursor.close()

In [23]:
# advanced = all_games.merge(data, on=['idGame'],how='left', indicator=True)
# advanced = advanced.loc[advanced['_merge']=='left_only'].reset_index(drop=True)
# advanced['idGame'] = advanced['idGame'].astype(str).str.zfill(10)
# advanced

In [24]:
# # Function to flatten player data
# def flatten_player_data(team, team_type):
#     for player in team['players']:
#         player_data = player['statistics']
#         player_data['personId'] = player['personId']
#         player_data['firstName'] = player['firstName']
#         player_data['familyName'] = player['familyName']
#         player_data['position'] = player['position']
#         player_data['teamType'] = team_type
#         player_data['teamId'] = team['teamId']
#         player_data['teamName'] = team['teamName']
#         flattened_data.append(player_data)

In [25]:
# advanced_stats = pd.DataFrame()

# for index, row in all_games.iterrows():
#     if index%500 == 0 and index!=0:
#         print(index)
#     if index%5000 == 0 and index!=0:
#         print(index)
#     try:
#         flattened_data = []

#         df = BoxScoreAdvancedV3(game_id = row['GAME_ID'].replace(" ",""),timeout=100)
#         shot_data = json.loads(df.get_json())
#         # Flatten data for home and away teams
#         flatten_player_data(shot_data['boxScoreAdvanced']['homeTeam'], 'home')
#         flatten_player_data(shot_data['boxScoreAdvanced']['awayTeam'], 'away')

#         # Create a DataFrame from the flattened data
#         df = pd.DataFrame(flattened_data)
#         df['GAME_ID'] = row['GAME_ID']
#         advanced_stats = pd.concat([advanced_stats,df]).reset_index(drop=True)
#     except:
#         pass
# # Show the DataFrame
# advanced_stats

In [26]:
# server = 'localhost\SQLEXPRESS'
# database = 'nba_game_data'
# cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';')
# cursor = cnxn.cursor()

# # Rearrange DataFrame columns to match the SQL table structure
# columns_order = ['teamId', 'teamName', 'personId', 'firstName', 'familyName', 'position', 'teamType', 'minutes', 'estimatedOffensiveRating', 'offensiveRating', 'estimatedDefensiveRating', 'defensiveRating', 'estimatedNetRating', 'netRating', 'assistPercentage', 'assistToTurnover', 'assistRatio', 'offensiveReboundPercentage', 'defensiveReboundPercentage', 'reboundPercentage', 'turnoverRatio', 'effectiveFieldGoalPercentage', 'trueShootingPercentage', 'usagePercentage', 'estimatedUsagePercentage', 'estimatedPace', 'pace', 'pacePer40', 'possessions', 'PIE']
# advanced_stats = advanced_stats[columns_order]

# # Prepare the INSERT SQL statement
# insert_stmt = '''
# INSERT INTO BoxScoreAdvancedV3 (teamId, teamName, personId, firstName, familyName, position, teamType, minutes, estimatedOffensiveRating, offensiveRating, estimatedDefensiveRating, defensiveRating, estimatedNetRating, netRating, assistPercentage, assistToTurnover, assistRatio, offensiveReboundPercentage, defensiveReboundPercentage, reboundPercentage, turnoverRatio, effectiveFieldGoalPercentage, trueShootingPercentage, usagePercentage, estimatedUsagePercentage, estimatedPace, pace, pacePer40, possessions, PIE)
# VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
# '''

# # Iterate over DataFrame rows
# for index, row in advanced_stats.iterrows():
#     try:
#         # Execute the INSERT statement for each row
#         cursor.execute(insert_stmt, tuple(row))
#         cnxn.commit()
#     except Exception as e:
#         print(f"An error occurred at row {index}: {e}")
#         # Optionally, break or continue based on the nature of the error

# # Close the connection
# cursor.close()
# cnxn.close()

In [27]:
# advanced_stats.columns

In [28]:
# advanced_stats

In [29]:
print(create_table_statement(advanced_stats, 'BoxScoreAdvancedV3'))
# set(globals()) 
# set(locals())

NameError: name 'advanced_stats' is not defined

#